<div class="col-md-3">
  <div class="media">
    <div class="media-body">
      <%= link_to image_tag('http://via.placeholder.com/130x130'), "http://#{bookmark.url}", class: "thumbnail" %>
      <h5 class="bookmark_url">
        <%= link_to image_tag('https://www.google.com/s2/favicons?domain=' + bookmark.url), "http://#{bookmark.url}" %>
        <%= link_to bookmark.url, "http://#{bookmark.url}" %>
      </h5>
      <div class="bookmark_links">
        <% if policy(Like.new).create? %>
          <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
