<%= form_for [@topic, @bookmark] do |f| %>
  <div class="input-group">
    <%= f.text_field :url, class: 'form-control', placeholder: "Enter New Site URL" %>
    <div class="input-group-btn">
      <%= f.submit "Save", class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
