<div class="bookmark">
  <h1>Edit Site</h1>

  <div class="col-md-6 col-md-offset-3">
    <%= form_for [@bookmark.topic, @bookmark] do |f| %>
      <div class="input-group">
        <%= f.text_field :url, class: 'form-control', placeholder: "Enter New Site URL" %>
        <div class="input-group-btn">
          <%= f.submit "Save", class: 'btn btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
