<div class="topic_index">
  <h1>Stash Topics</h1>

  <% if policy(@topic).new? %>
    <div class="col-md-8 col-md-offset-2">
      <%= form_for @topic do |f| %>
        <div class="input-group">
          <%= f.text_field :title, class: 'form-control', placeholder: "Enter New Topic" %>
          <div class="input-group-btn">
            <%= f.submit "Save", class: 'btn btn-default' %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= render @topics.reverse %>

</div>
