.bookmark {
  margin-top: 40px;
}

.bookmark h1 {
  font-size: 80px;
  text-align: center;
  font-family: 'Yesteryear';
  margin-bottom: 20px;
}

.bookmark_links {
  text-align: center;
  margin: 20px auto;
  width: 130px;
}

.like {
  width: 115px;
}

.unlike {
  width: 115px;
}
