.my_topics_index h1 {
  text-align: center;
  color: #4D5061;
  font-family: "Lobster";
  margin: 50px auto 30px;
  font-size: 75px;
}

.my_topics_index h3 a {
  color: #4D5061;
}

.my_topics_index a {
  color: #5C80BC;
}

.my_topics_index a:hover {
  color: #B1EDE8;
}

.liked_bookmarks {
  margin-bottom: 50px;
}
.liked_bookmarks h1 {
  text-align: center;
  color: #4D5061;
  font-family: "Lobster";
  margin: 50px auto 50px;
  font-size: 75px;
}

.liked_bookmarks a {
  color: #5C80BC;
}

.liked_bookmarks a:hover {
  color: #B1EDE8;
}
