.sign_up {
  align-content: center;
  width: 500px;
  margin: auto;
  padding: 50px;
}

.sign_up h2{
  margin-bottom: 15px;
  color: #FF7684;
  font-size: 60px;
  font-weight: 300;
}

.new_user {
  margin: auto;
}

.sign_up input {
  margin: auto;
  border-radius: 7px;
  border: 2px solid lightgrey;
  height: 30px;
  width: 400px;
  margin-bottom: 15px;
}

.sign_up input:focus {
  border-radius: 7px;
  border: 2px solid #A6EEE8;
  outline: none;
}

.sign_up .btn {
  width: 80px;
  height: 40px;
  border: none;
  background-color: #D3D4D5;
}

.sign_up .btn:hover {
  background-color: #FF7684;
  color: white;
}
